<md-dialog aria-label="{{dialogTitle}}" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{dialogTitle}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-icon="navigation:ic_close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content">
		<form name="userForm" ng-submit="save()">
			<div layout="column">
				<md-input-container class="md-block">
					<label>Group Name</label>
					<input name="groupName" ng-disabled="!newGroup" ng-model="group.groupName" md-maxlength="32" required>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Description</label>
					<input name="description" ng-model="group.description" required>
				</md-input-container>
				<md-input-container class="md-block">
					<md-select placeholder="Select group owner"
					           ng-model="group.groupOwner"
					           md-on-open="userPromise"
					           required
					           style="min-width: 200px;">
						<md-option ng-value="user._links.self.href" ng-repeat="user in users">{{user.userId + ': ' + user.fullName}}</md-option>
					</md-select>
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary" ng-click="save()">Save</md-button>
		<md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>