<md-content ng-controller="ThemeController"
            md-theme="{{selectedTheme}}"
            md-theme-watch="true"
            layout="column"
            flex
            class="relative"
            layout-fill
            role="main">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button"
			           aria-label="Open SideNav"
			           ng-click="openSidenav()">
				<md-icon md-svg-icon="navigation:ic_menu"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Previous" ng-click="prevTheme()">
				<md-icon md-svg-icon="navigation:ic_chevron_left"></md-icon>
			</md-button>
			<md-select flex="20" ng-model="selectedTheme" aria-label="Theme Selector">
				<md-option ng-repeat="theme in themes" value="{{theme.value}}">
					{{theme.name}}
				</md-option>
			</md-select>
			<md-button class="md-icon-button" aria-label="Next" ng-click="nextTheme()">
				<md-icon md-svg-icon="navigation:ic_chevron_right"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div layout="column" flex class="relative" layout-fill>
		<section layout="column">
			<div class="label">Buttons</div>
			<div layout="row">
				<md-button class="md-raised">Button</md-button>
				<md-button class="md-raised" ng-disabled="true">Disabled</md-button>
			</div>
			<div layout="row">
				<md-button class="md-primary md-raised">Primary</md-button>
				<md-button class="md-primary md-raised md-hue-1">Primary Hue 1</md-button>
				<md-button class="md-primary md-raised md-hue-2">Primary Hue 2</md-button>
			</div>
			<div layout="row">
				<md-button class="md-accent md-raised">Accent</md-button>
				<md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
				<md-button class="md-accent md-raised md-hue-2">Accent Hue 2</md-button>
			</div>
		</section>
		<section layout="column">
			<div class="label">FAB Buttons</div>
			<div layout="row">
				<md-button class="md-fab" ng-disabled="true" aria-label="Disabled">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
				<md-button class="md-fab" aria-label="Public">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
			</div>
			<div layout="row">
				<md-button class="md-raised md-primary">Primary</md-button>
				<md-button class="md-fab md-primary" aria-label="Primary">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
				<md-button class="md-fab md-primary md-hue-1" aria-label="Primary Hue 1">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
				<md-button class="md-fab md-primary md-hue-2" aria-label="Primary Hue 2">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
			</div>
			<div layout="row">
				<md-button class="md-raised md-accent">Accent</md-button>
				<md-button class="md-fab md-accent" aria-label="Accent">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
				<md-button class="md-fab md-accent md-hue-1" aria-label="Accent Hue 1">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
				<md-button class="md-fab md-accent md-hue-2" aria-label="Accent Hue 2">
					<md-icon md-svg-icon="social:ic_public"></md-icon>
				</md-button>
			</div>
		</section>
	</div>
</md-content>