<md-content layout="column" flex class="relative" layout-fill role="main">
	<md-toolbar md-scroll-shrink="false">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Open SideNav" ng-click="openSidenav()">
				<md-icon md-svg-icon="navigation:ic_menu"></md-icon>
			</md-button>
			<h3>
				<span>Users</span>
			</h3>
			<md-progress-circular class="md-accent md-hue-1"
			                      flex-offset="5"
			                      ng-show="users == undefined || users == null"
			                      md-mode="indeterminate"
			                      md-diameter="48"></md-progress-circular>
			<span flex></span>
			<md-button class="md-icon-button"
			           ng-disabled="selected == undefined || selected == null || selected.length != 1"
			           ng-click="editUser($event)"
			           aria-label="Edit">
				<md-icon md-svg-icon="editor:ic_mode_edit"></md-icon>
			</md-button>
			<md-button class="md-icon-button"
			           aria-label="Delete"
			           ng-click="deleteUsers($event)"
			           ng-disabled="selected == undefined || selected == null || selected.length == 0">
				<md-icon md-svg-icon="action:ic_delete"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<md-grid-list ng-show="users != null"
		              md-cols="1"
		              md-cols-sm="2"
		              md-cols-md="3"
		              md-cols-gt-md="4"
		              md-row-height="10em"
		              md-gutter="4px"
		              md-gutter-gt-sm="2px">
			<md-grid-tile ng-repeat="user in users" layouy="column" layout-align="start stretch">
				<md-grid-tile-header layout="row" layout-align="start center" flex>
					<md-checkbox class="md-secondary"
					             ng-model="user.selected"
					             aria-label="Select User"
					             ng-change="checkSelected(user)"></md-checkbox>
					<strong ng-bind="user.userId"></strong>
					<em ng-bind="' (' + user.fullName + ')'"></em>
				</md-grid-tile-header>
				<div layout="row" layout-align="start start" flex>
					<md-button style="background-color: white"
					           layout="column"
					           ng-class="{'md-fab':true, smallIcons: $mdMedia('xs'), mediumIcons: $mdMedia('gt-xs')}"
					           layout-align="center center"
					           ng-click="selectUser(user)">
						<img src="/assets/users/{{user.userId}}.png"
						     ng-class="{'md-avatar':true, smallIcons: $mdMedia('xs'), mediumIcons: $mdMedia('gt-xs')}"
						     aria-label="Avatar for {{user.userId}}"/>
					</md-button>
					<div layout="column" flex>
						<span ng-bind="user.emailAddress"></span>
						<span ng-bind="user.dateOfBirth"></span>
					</div>
				</div>
			</md-grid-tile>
		</md-grid-list>
	</md-content>
	<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="addUser($event)">
		<md-icon md-svg-icon="content:ic_add"></md-icon>
	</md-button>
</md-content>