<md-content ng-controller="UserController" layout="column" flex class="relative" layout-fill role="main">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
				<md-icon md-svg-icon="navigation:ic_menu" arial-label="Menu"></md-icon>
			</md-button>
			<span flex></span>
			<md-button class="md-icon-button"
			           ng-disabled="selected == null || selected.length != 1"
			           ng-click="editUser($event)"
			           aria-label="Edit">
				<md-icon md-svg-icon="editor:ic_mode_edit"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Delete" ng-disabled="selected == null || selected.length.length == 0">
				<md-icon md-svg-icon="action:ic_delete"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-table-container>
		<table md-table md-row-select="true" data-ng-model="selected" multiple="true" md-progress="promise">
			<thead md-head md-order="userOrder">
			<tr md-row>
				<th md-column md-order-by="userId">Avatar</th>
				<th md-column md-order-by="userId">User Id</th>
				<th md-column md-order-by="fullName">Full name</th>
				<th md-column md-order-by="emailAddress">Email</th>
			</tr>
			</thead>
			<tbody md-body>
			<tr md-row md-select="user" md-select-id="userId" md-auto-select="true" ng-repeat="user in users">
				<td md-cell><img class="md-avatar" gravatar-src="user.emailAddress" gravatar-size="32"/></td>
				<td md-cell><span>{{user.userId}}</span></td>
				<td md-cell><span>{{ user.fullName }}</span></td>
				<td md-cell><span>{{ user.emailAddress }}</span></td>
			</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="addUser($event)">
		<md-icon md-svg-icon="content:ic_add"></md-icon>
	</md-button>
</md-content>