<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title>String Data Rest Angular Demo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="/webjars/angular-material/1.0.7/angular-material.css"/>
	<link rel="stylesheet" href="/webjars/angular-material-data-table/0.10.3/dist/md-data-table.css"/>
	<link rel="stylesheet" href="/css/app.css"></link>
</head>
<body ng-app="springDataRestDemo" ng-controller="AppCtrl" layout="row" ng-cloak>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	<md-toolbar class="md-tall md-hue-2">
		<span flex></span>
		<div layout="column" class="md-toolbar-tools-bottom inset">
			<div>Spring Data Rest Demo</div>
		</div>
	</md-toolbar>
	<md-list layout="column" layout-align="start start" layout:fragment="menu">
		<md-list-item class="md-1-line" md-ink-ripple role="link" ng-repeat="item in mainMenu">
			<md-button class="md-primary" ng-click="showMenu(item)">
				<md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
				<span class="md-body-2">{{item.title}}</span>
			</md-button>
		</md-list-item>
	</md-list>
	<md-divider></md-divider>
	<md-subheader>Management</md-subheader>
	<md-list layout="column" layout-align="start start">
		<md-list-item class="md-1-line" md-ink-ripple role="link" ng-repeat="item in adminMenu">
			<md-button class="md-primary" ng-click="showMenu(item)">
				<md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
				<span class="md-body-2">{{item.title}}</span>
			</md-button>
		</md-list-item>
	</md-list>
</md-sidenav>
<md-content layout-fill>
	<ng-include src="activeContent"/>
</md-content>
<script type="text/javascript" src="/webjars/moment/2.12.0/moment.js"></script>
<script type="text/javascript" src="/webjars/angular/1.5.3/angular.js"></script>
<script type="text/javascript" src="/webjars/angular-messages/1.5.3/angular-messages.js"></script>
<script type="text/javascript" src="/webjars/angular-animate/1.5.3/angular-animate.js"></script>
<script type="text/javascript" src="/webjars/angular-aria/1.5.3/angular-aria.js"></script>
<script type="text/javascript" src="/webjars/angular-material/1.0.7/angular-material.js"></script>
<script type="text/javascript" src="/webjars/angular-gravatar/0.4.1/build/angular-gravatar.js"></script>
<script type="text/javascript" src="/webjars/angular-material-data-table/0.10.3/dist/md-data-table.js"></script>
<script type="text/javascript" src="/js/DataApp.js"></script>
<script type="text/javascript" src="/js/UserService.js"></script>
<script type="text/javascript" src="/js/GroupService.js"></script>
<script type="text/javascript" src="/js/UserController.js"></script>
<script type="text/javascript" src="/js/GroupController.js"></script>
<script type="application/javascript">
	var app = angular.module('springDataRestDemo');
	app.controller("AppCtrl", ["$scope", "$mdSidenav", '$window', function ($scope, $mdSidenav, $window) {
		$scope.toggleSidenav = function (menuId) {
			$mdSidenav(menuId).toggle();
		};
		$scope.activeContent = 'templates/users.html';
		$scope.mainMenu = [
			{
				name: 'users', title: 'Users',
				icon: 'social:ic_person',
				href: '/users',
				templateName: 'templates/users.html'
			},
			{
				name: 'groups',
				title: 'Groups',
				icon: 'social:ic_people',
				href: '/groups',
				templateName: 'templates/groups.html'
			},
			{
				name: 'members',
				title: 'Members',
				icon: 'social:ic_person_add',
				href: '/members',
				templateName: 'templates/members.html'
			}
		];
		$scope.adminMenu = [
			{
				name: 'halBrower',
				title: 'HAL Browser',
				icon: 'social:ic_domain',
				href: '/admin/hal-browser',
				templateName: 'templates/hal-browser.html'
			},
			{
				name: 'h2Console',
				title: 'H2 Console',
				icon: 'action:ic_dashboard',
				href: '/admin/h2-console',
				templateName: 'templates/h2-console.html'
			}
		];
		$scope.showMenu = function (item) {
			$scope.activeContent = item.templateName;
		}
	}]);
	var iconSets = ['action', 'alert', 'social', 'content', 'navigation', 'editor'];
	app.config(function ($mdDateLocaleProvider, $mdThemingProvider, $mdIconProvider) {
		$mdDateLocaleProvider.formatDate = function (date) {
			return moment(date).format('YYYY-MM-DD');
		};
		$mdDateLocaleProvider.parseDate = function(dateString) {
			var m = moment(dateString, ['YYYY-M-D','YYYY/M/D']);
			return m.isValid() ? m.toDate() : new Date(NaN);
		};
		$mdThemingProvider.theme("default")
				.primaryPalette("blue")
				.accentPalette("green");
		$mdThemingProvider.theme("error")
				.primaryPalette("brown")
				.accentPalette("red");
		$mdIconProvider.defaultIconSet("/iconsets/svg/content-icons.svg", 24);
		for (var i in iconSets) {
			var iconSet = iconSets[i];
			$mdIconProvider.iconSet(iconSet, '/iconsets/svg/' + iconSet + '-icons.svg', 24);
		}
	});
</script>
</body>
</html>