<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>String Data Rest Angular Demo - User Manager</title>
</head>
<body>
<div layout:fragment="content" ng-app="users" ng-controller="UserController as uc" layout="column" class="relative" layout-fill=""
     role="main">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="navigation:ic_menu" arial-label="Menu"></md-icon>
            </md-button>

            <span flex=""></span>
            <md-button class="md-icon-button" aria-label="Edit">
                <md-icon md-svg-icon="editor:ic_mode_edit"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Delete">
                <md-icon md-svg-icon="action:ic_delete"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex="" md-scroll-y="">
        <ui-view layout="column" layout-fill="" layout-padding="">
            <div id="users-content" aria-labelledby="listUsers" layout="row" layout-align="center center">
                <md-list flex="">
                    <md-list-item class="md-3-line" ng-repeat="user in users">
                        <img class="md-avatar" gravatar-src="user.emailAddress" gravatar-size="100"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ user.userId }}</h3><h4>{{ user.fullName }}</h4>
                            <p>{{ user.emailAddress }}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAddUser($event)">
                    <md-icon md-svg-icon="content:ic_add"></md-icon>
                </md-button>
            </div>
        </ui-view>
    </md-content>
</div>
</body>
</html>