[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px;
}

.largeIcons {
    width: 64px;
    height: 64px;
}

.xLargeIcons {
    width: 96px;
    height: 96px;
}

.smallIcons {
    width: 32px;
    height: 32px;
}

.mediumIcons {
    width: 48px;
    height: 48px;
}

.memberDisabled {
    text-decoration: line-through;
}

.small-button {
    padding: 0 3px 0 3px;
    margin: 3px 4px 3px 4px;
    min-width: 44px;
    min-height: 18px;
    border-radius: 2px;
    font-size: 11px;
}