<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>String Data Rest Angular Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/webjars/angular-material/1.0.6/angular-material.css"
          th:href="@{/webjars/angular-material/1.0.6/angular-material.css}"/>
    <link rel="stylesheet" href="/css/app.css" th:href="@{/css/app.css}"></link>
</head>
<body ng-app="springDataRestDemo" ng-controller="AppCtrl" layout="row" ng-cloak="">
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
        <span flex=""></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <div>Spring Data Rest Demo</div>
        </div>
    </md-toolbar>
    <md-list layout="column" layout-align="start start" layout:fragment="menu">
        <md-list-item class="md-1-line" md-ink-ripple="" role="link" ng-repeat="item in mainMenu">
            <md-button class="md-primary" ng-click="item.click()">
                <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
                <span class="md-body-2">{{item.title}}</span>
            </md-button>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader>Management</md-subheader>
    <md-list layout="column" layout-align="start start">
        <md-list-item class="md-1-line" md-ink-ripple="" role="link" ng-repeat="item in adminMenu">
            <md-button class="md-primary" ng-click="showAdmin(item.name)">
                <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
                <span class="md-body-2">{{item.title}}</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
<div layout:fragment="content" layout="column" class="relative" layout-fill="" role="main"></div>
<script type="text/javascript" src="/webjars/angular/1.5.3/angular.js" th:src="@{/webjars/angular/1.5.3/angular.js}"></script>
<script type="text/javascript" src="/webjars/angular-animate/1.5.3/angular-animate.js"
        th:src="@{/webjars/angular-animate/1.5.3/angular-animate.js}"></script>
<script type="text/javascript" src="/webjars/angular-aria/1.5.3/angular-aria.js"
        th:src="@{/webjars/angular-aria/1.5.3/angular-aria.js}"></script>
<script type="text/javascript" src="/webjars/angular-material/1.0.6/angular-material.js"
        th:src="@{/webjars/angular-material/1.0.6/angular-material.js}"></script>
<script type="text/javascript" src="/webjars/angular-gravatar/0.4.1/build/angular-gravatar.js"
        th:src="@{/webjars/angular-gravatar/0.4.1/build/angular-gravatar.js}"></script>
<script type="text/javascript" src="/js/UserService.js" th:src="@{/js/UsersApp.js}"></script>
<script type="text/javascript" src="/js/UserService.js" th:src="@{/js/UserService.js}"></script>
<script type="text/javascript" src="/js/UserController.js" th:src="@{/js/UserController.js}"></script>
<script type="application/javascript">
    var app = angular.module('springDataRestDemo');
    app.controller("AppCtrl", ["$scope", "$mdSidenav", '$window', function ($scope, $mdSidenav, $window) {
        $scope.toggleSidenav = function (menuId) {
            $mdSidenav(menuId).toggle();
        };
        $scope.loadUsers = function () {
            console.log('loadUsers');
            $window.location.href = '/users';
        }
        $scope.loadGroups = function () {
            console.log('loadGroups');
            $window.location.href = '/groups';
        }
        $scope.loadMembers = function () {
            console.log('loadMembers')
            $window.location.href = '/members';
        }
        $scope.mainMenu = [
            {
                name: 'users', title: 'Users',
                icon: 'social:ic_person',
                click: $scope.loadUsers
            },
            {
                name: 'groups',
                title: 'Groups',
                icon: 'social:ic_people',
                click: $scope.loadGroups
            },
            {
                name: 'members',
                title: 'Members',
                icon: 'social:ic_person_add',
                click: $scope.loadMembers
            }
        ]
        $scope.adminMenu = [
            {name: 'halBrower', title: 'HAL Browser', icon: 'social:ic_domain', href: '/admin/hal-browser'},
            {name: 'h2Console', title: 'H2 Console', icon: 'action:ic_dashboard', href: '/admin/h2-console'}
        ]

        $scope.showAdmin = function (name) {
            for (var i in $scope.adminMenu) {
                var item = $scope.adminMenu[i]
                if (item.name == name) {
                    // var win = $window.open(item.href, '_blank');
                    // win.focus();
                    $window.location.href = item.href;
                    return;
                }
            }
            console.error('could not find item for:' + name);
        }
    }]);
    var iconSets = ['action', 'alert', 'social', 'content', 'navigation', 'editor'];
    app.config(function ($mdThemingProvider, $mdIconProvider) {
        $mdThemingProvider.theme("default")
                .primaryPalette("blue")
                .accentPalette("green");
        $mdIconProvider.defaultIconSet("/iconsets/svg/content-icons.svg", 24);
        for (var i in iconSets) {
            var iconSet = iconSets[i];
            $mdIconProvider.iconSet(iconSet, '/iconsets/svg/' + iconSet + '-icons.svg', 24);
        }
    });
</script>
<script layout:fragment="bootstrap"></script>
</body>
</html>