<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringDataRestAngularDemoApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.corneil.data_rest_demo.SpringDataRestAngularDemoApplication" />
    <option name="DEBUG_MODE" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="spring-data-rest-angular-demo_main" />
    <envs />
    <method>
      <option name="Gradle.BeforeRunTask" enabled="true" tasks="bootRepackage" externalProjectPath="$PROJECT_DIR$" vmOptions="" scriptParameters="" />
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>